@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";


h1 {
  text-align: center;
}

h2 {
  font-size: 1.6em;
}

p.card-text {
  font-size: 1.2em;
}

p.card-notes {
  font-size: 0.9em;
  font-variant: small-caps;
  margin-top: -0.5em;
}

.bg-body {
  background-color: $body-bg;
}

.social-link {
  margin-left: 1em;
}