@import "~bootswatch/dist/darkly/variables";
@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";

h1 {
  text-align: center;
}

h2 {
  font-size: 1.6em;
}

p.card-text, p.card-base-size {
  font-size: 1.2em;
}

p.card-notes, p.card-faction {
  font-size: 0.9rem;
}

p.card-notes {
  margin-top: -0.5rem;
}

p.card-base-size {
  margin-bottom: 1rem;
  a {
    color: $white;
    &:hover, &:focus, &:active {
      color: $gray-400;
    }
  }
}

p.card-base-size, p.card-notes {
  color: $gray-400;
}

.bg-body {
  background-color: $body-bg;
}

.social-link {
  margin-left: 1em;
}

a {
  text-decoration: none;
}

.blockquote-footer {
  margin-top: 0em;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}
